In [18]:
import pandas as pd

In [19]:
A = [1,2,3,4,5,6,7]
A=pd.DataFrame(A)
A

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [20]:
B = A.diff(1)
B

     0
0  NaN
1  1.0
2  1.0
3  1.0
4  1.0
5  1.0
6  1.0